:root {
  --max-width: 1100px;
  --drop-shadow: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  --temp-color: rgb(156, 156, 156);
  --primary-color: aquamarine;
  --secondary-color: rgb(255, 255, 255);
  --h1-size: 4rem;
  --h2-size: 3rem;
  --h3-size: 1.5rem;
  --h1-color: rgb(255, 255, 255);
  --std-gap: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: var(--h2-size);
}

header {
  display: flex;
  flex-direction: column;
}

.profile {
  float: left;
  min-width: clamp(300px, 100%, 420px);
  min-height: 450px;
  margin-top: 50px;
  background-image: url("../images/jane_doe_profile.webp");
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 2;
  transition: transform 1s ease;
}

.profile h1 {
  transition: transform 1s ease-in-out;
}

.profile-summary {
  margin-top: 100px;
  padding: 2rem;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-color);
  transition: margin 1s ease;
}

.social-bar {
  align-self: flex-end;
}

.social-bar a {
  font-size: calc(var(--h3-size) * 1.5);
}

.page,
.footer-content {
  margin: 34px 55px;
  max-width: var(--max-width);
}

.social-bar {
  margin: 0;
  padding: 0;
}

.social-bar li {
  list-style: none;
  display: inline;
  padding: 0 8px;
}

.profile,
.bg-wrap,
.about-me,
.card-container,
footer img {
  filter: var(--drop-shadow);
}

footer,
.bg-wrap {
  width: 100vw;
}

.bg-wrap {
  position: absolute;
  top: 0;
  transform: translate(0%, -20%);
  z-index: -10;
}

.bg-decor {
  width: 100%;
  min-height: 600px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
  background-color: var(--primary-color);
}

.profile h1 {
  font-size: var(--h1-size);
  color: var(--h1-color);
  align-self: flex-end;
}

main {
  padding: 34px 0;
}

.my-work-container {
  min-height: min(100vh, 600px);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 3rem;
}

.card-container {
  display: grid;
  border-radius: 8px;
  max-width: 400px;
  min-height: 450px;
  padding: 13px;
  background-color: rgb(255, 255, 255);
}

.card-container img {
  border-radius: 8px;
  min-width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.project-title,
.project-actions {
  font-size: var(--h3-size);
}

.project-details {
  display: grid;
  grid-template: min-content auto / auto auto;
  align-items: center;
}

.project-details .project-actions {
  grid-column: 2;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: grid;
  grid-template: 3fr 1fr / 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.footer-content address {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}

.footer-content :not(h2) {
  font-size: 1rem;
}

.footer-content .social-bar i {
  font-size: var(--h3-size);
}

.footer-content address ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-content img {
  grid-column: 2;
  min-height: 100%;
  align-self: center;
  object-fit: cover;
  object-position: left;
}

.credit {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
}

@media (max-width: 1100px) and (min-width: 751px) {
  .about-me .social-bar {
    display: none;
  }

  .profile {
    transform: scale(1.01) translateX(-1%) translateY(-3%);
    margin-right: 1rem;
  }

  .profile h1 {
    transform: translateX(110%) translateY(-370%);
  }

  .profile-summary {
    display: block;
    margin-top: 8rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 750px) {
  .page {
    margin: 21px 21px;
  }

  header {
    align-items: center;
    justify-content: center;
  }

  main h2 {
    align-self: center;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-items: center;
    filter: none;
  }

  .profile {
    margin-top: 34px;
  }

  .profile-summary {
    margin-top: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .social-bar {
    align-self: center;
  }

  .project-container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3rem;
  }

  .footer-content {
    grid-template: repeat(3, auto) / 1fr;
    margin: 0;
    padding-top: 21px;
  }

  .footer-content address {
    margin: 0 34px;
  }

  .footer-content address h2 {
    align-self: center;
  }

  .footer-content .social-bar {
    align-self: center;
  }

  .footer-content img {
    grid-column: 1;
    width: 100vw;
    filter: none;
  }

  .credit {
    grid-column: 1;
    grid-row: 2;
  }
}
